<aside
  aria-label="settings panel"
  class="absolute top-0 w-80 border-surface-100 dark:border-surface-800 bg-surface-0 dark:bg-surface-900 z-10 grid grid-rows-[70px_1fr] transition-all duration-300 overflow-hidden h-full md:relative md:left-0 md:z-0"
  [ngClass]="{
    'md:w-[73px]': isCollapsed(),
    'md:w-80': !isCollapsed(),
    'border-l': position() === AsidePosition.Right,
    'border-r': position() === AsidePosition.Left,
    'left-0': showSideBar() && position() === AsidePosition.Left,
    '-left-full': !showSideBar() && position() === AsidePosition.Left,
    'right-0': showSideBar() && position() === AsidePosition.Right,
    '-right-full': !showSideBar() && position() === AsidePosition.Right,
  }"
  [attr.aria-hidden]="!showSideBar() || isCollapsed()"
>
  <header
    class="flex items-center justify-between gap-2 p-4 py-2 border-b border-surface-100 dark:border-surface-800"
  >
    <div class="block" [ngClass]="{ 'md:hidden': isCollapsed() }">
      <ui-title [heading]="HeadingType.H4">{{ title() }}</ui-title>
      @if (subtitle()) {
        <p class="text-xs">
          {{ subtitle() }}
        </p>
      }
    </div>
    <p-button
      [text]="true"
      severity="secondary"
      ariaLabel="Toggle Sidebar"
      class="hidden md:block transition-transform delay-300 duration-300"
      [class.rotate-180]="!isCollapsed()"
      (click)="toggleCollapse()"
      (keydown.enter)="toggleCollapse()"
    >
      <ui-icon
        [name]="position() === 'left' ? 'lucidePanelLeftOpen' : 'lucidePanelLeftClose'"
      ></ui-icon>
    </p-button>
  </header>
  <div class="overflow-y-auto" [ngClass]="{ 'md:hidden': isCollapsed() }">
    <ng-content></ng-content>
  </div>
</aside>
