@let filteredCategories = formElementCategories() | search: searchText() : ['items.label'];
@let isSearchEmpty = searchText().length === 0;
<div class="flex flex-col gap-4">
  <ui-accordion
    [items]="filteredCategories"
    [expandAll]="!isSearchEmpty"
    [multiple]="!isSearchEmpty"
  >
    <ng-template
      [appGenericContextGuard]="filteredCategories[0].items"
      let-items
      #content
      let-index="index"
      ><div
        [nxtSortablejs]="items"
        [config]="sortableOptions()"
        id="accordion-{{ index }}"
        class="flex flex-col gap-2 py-2"
      >
        @for (item of items; track item.id) {
          <form-element-item [item]="item" [attr.field-type]="item.value" />
        }
      </div>
    </ng-template>
  </ui-accordion>
</div>
