<div class="grid grid-rows-[1fr_auto] bg-[#f5f5f5] w-full h-full relative overflow-hidden">
  <div class="overflow-y-scroll px-4 py-8" #canvasPanelContainer>
    <div class="max-w-full md:max-w-2xl mx-auto flex flex-col gap-4">
      <app-form-canvas-header></app-form-canvas-header>
      <app-form-canvas-sections [fields]="fields().fieldGroup"></app-form-canvas-sections>
    </div>
    @if (isScrollAvailable()) {
      <p-button
        class="absolute right-8"
        size="small"
        (onClick)="scrollToTop()"
        [ngClass]="{
          'bottom-36': formDesignNavigation.viewMode() === NavigationMode.SECTION,
          'bottom-8': formDesignNavigation.viewMode() === NavigationMode.SCROLL,
        }"
      >
        <ui-icon name="lucideChevronUp"></ui-icon>
      </p-button>
    }
  </div>

  @if (formDesignNavigation.viewMode() === NavigationMode.SECTION) {
    <app-form-canvas-footer></app-form-canvas-footer>
  }
</div>
