<header class="flex flex-col gap-4">
  <span class="text-xs text-gray-500 text-end pb-4">Última actualización: Hace un momento</span>
  <div>
    <ui-title [heading]="Heading.h3">Vista previa del formulario</ui-title>
    <p class="text-xs md:text-sm text-gray-500">
      Arrastra componentes desde el panel izquierdo o haz clic para agregar un componente
    </p>
  </div>
  <div class="flex flex-row gap-8 md:items-center">
    <p-button class="flex items-center justify-between" size="small" (onClick)="op.toggle($event)">
      <ui-icon name="lucideFilePlus"></ui-icon>
      <span>New section</span>
      <ui-icon name="lucideChevronDown"></ui-icon>
    </p-button>
    <p-selectbutton
      [options]="formCanvasNavigation.viewModeOptions()"
      (onChange)="formCanvasNavigation.setViewMode($event.value)"
      [ngModel]="formCanvasNavigation.viewMode()"
      [unselectable]="true"
      optionLabel="label"
      optionValue="value"
      aria-labelledby="page option"
      class="w-full md:w-fit md:min-w-fit md:ml-auto"
    >
      <ng-template #item let-item>
        <span class="flex items-center gap-2 text-sm font-semibold"
          ><ui-icon [name]="item.icon"></ui-icon> {{ item.label }}</span
        >
      </ng-template></p-selectbutton
    >
  </div>
</header>

<p-popover class="[--p-popover-content-padding=0]" #op>
  <ul class="flex flex-col p-2">
    <li class="flex items-center gap-2 hover:bg-gray-50 hover:cursor-pointer px-4 py-2">
      <ui-icon class="text-indigo-500" name="lucideFilePlus"></ui-icon>
      <div class="flex flex-col">
        <p class="text-sm font-semibold">Sección Vacia</p>
        <small class="text-xs text-gray-500">Comienza desde cero</small>
      </div>
    </li>
    <li class="flex items-center gap-2 hover:bg-gray-50 hover:cursor-pointer px-4 py-2">
      <ui-icon class="text-indigo-500" name="lucideContainer"></ui-icon>
      <div class="flex flex-col">
        <p class="text-sm font-semibold">Formulario de contacto</p>
        <small class="text-xs text-gray-500">Nombre, Apellidos, Correo, telefono y mensaje</small>
      </div>
    </li>
    <li class="flex text-base items-center gap-2 hover:bg-gray-50 hover:cursor-pointer px-4 py-2">
      <ui-icon class="text-indigo-500" name="lucideList"></ui-icon>
      <div class="flex flex-col">
        <p class="text-sm font-semibold">Datos personales</p>
        <small class="text-xs text-gray-500"
          >Nombre, Apellidos, Correo, telefono, fecha y genero</small
        >
      </div>
    </li>
  </ul>
</p-popover>
