<div
  class="grid grid-cols-[11fr_1fr] items-center justify-between gap-4 p-2 cursor-grab hover:bg-gray-100"
>
  <div class="flex items-center gap-2">
    <div
      class="min-w-8 min-h-8 flex items-center justify-center bg-indigo-100 text-indigo-500 rounded"
    >
      <ui-icon [name]="item().icon"></ui-icon>
    </div>
    <div>
      <p class="text-sm font-semibold">{{ item().label }}</p>
      <small class="text-xs text-gray-500">{{ item().description }}</small>
    </div>
  </div>
  <ui-icon class="text-gray-500" name="lucideGripVertical"></ui-icon>
</div>
