<article
  class="bg-primary-50 w-full h-full flex justify-center items-center rounded relative"
  dropHover
  [isHovering]="whileDragging()"
>
  <div class="flex flex-col justify-center items-center gap-2 p-4">
    <ui-icon name="lucideSquaresSubtract" class="text-xl text-primary-500"></ui-icon>
    <ui-title [heading]="HeadingType.H4">Form Preview</ui-title>
    <p class="text-xs text-center text-gray-500">
      Drag elements from the left panel or click to add an element
    </p>
  </div>
</article>
