<section class="flex flex-col gap-2">
  <header class="flex items-center gap-2  text-xs font-semibold">
    <ui-icon name="lucideFolder"></ui-icon>
    <span>{{ tree().label }}</span>
  </header>
  <p-tree
    [value]="tree().nodes"
    class="w-full p-0!"
    draggableScope="self"
    droppableScope="self"
    [draggableNodes]="true"
    [droppableNodes]="true"
    selectionMode="single"
    [(selection)]="selectedFile"
    (onNodeDrop)="drop($event)"
    #primeTree
  >
    <ng-template pTemplate="togglericon" let-expanded>
      @if (expanded) {
        <ui-icon name="lucideChevronDown" class="text-sm"></ui-icon>
      } @else {
        <ui-icon name="lucideChevronRight" class="text-sm"></ui-icon>
      }
    </ng-template>

    <ng-template let-node [appGenericContextGuard]="tree().nodes[0]" pTemplate="default">
      <div
        class="grid grid-cols-[auto_auto] items-center justify-between group"
        [class.hide-toggle-button]="node.children?.length === null"
      >
        <span class="flex items-center gap-2 text-xs overflow-hidden">
          <ui-icon [name]="node.icon" class="text-primary-500"></ui-icon>
          <span class="whitespace-nowrap text-ellipsis overflow-hidden" [pTooltip]="node.label">
            {{ node.label }}</span
          >
        </span>

        @if (buttons().length) {
          <div
            class="items-center gap-2 flex min-w-fit md:hidden md:group-hover:flex"
            [ngClass]="{
              'md:hidden': node.key !== selectedFile()?.key,
              flex: node.key === selectedFile()?.key,
            }"
          >
            @for (button of buttons(); track button.id + $index) {
              <p-button
                size="small"
                [outlined]="true"
                [text]="true"
                [disabled]="button.disabled"
                [severity]="button.severity"
                (onClick)="handleUIButtonInteraction($event, button, node)"
                [pTooltip]="button.tooltip"
                tooltipPosition="top"
              >
                <ui-icon [name]="button.icon!" class="text-sm"></ui-icon>
              </p-button>
            }
          </div>
        }
      </div> </ng-template
  ></p-tree>
</section>
