:host ::ng-deep {
  --item-height: 32px;
  --tree-border-color: #ececec;
  p-button,
  .p-button {
    height: 16px;
    width: 16px;
    min-height: 16px;
    padding: 0;
  }

  .p-tree-node-label {
    width: 100%;
  }

  .p-tree-node-content {
    --p-tree-node-padding: 4px 8px;
    min-height: var(--item-height);
    &:has(*.hide-toggle-button) .p-tree-node-toggle-button {
      display: none;
    }
  }

  .p-tree-node-toggle-button {
    --p-tree-node-toggle-button-size: 16px;
  }

  .p-tree-node-leaf > .p-tree-node-content .p-tree-node-toggle-button {
    visibility: visible;
  }
}
