<div class="flex flex-col bg-[#f5f5f5] w-full h-full min-h-full relative overflow-hidden">
  <div class="flex-1 overflow-y-scroll px-4 py-8" #canvasPanelContainer>
    <div class="max-w-full md:max-w-2xl mx-auto flex flex-col gap-4">
      <app-canvas-header></app-canvas-header>
      <app-form-canvas-sections [fields]="fields()"></app-form-canvas-sections>
    </div>
    @if (isScrollAvailable()) {
      <p-button
        class="absolute right-8"
        size="small"
        (onClick)="scrollToTop()"
        [ngClass]="{
          'bottom-36': formCanvasNavigation.viewMode() === NavigationMode.SECTION,
          'bottom-8': formCanvasNavigation.viewMode() === NavigationMode.SCROLL,
        }"
      >
        <ui-icon name="lucideChevronUp"></ui-icon>
      </p-button>
    }
  </div>

  @if (formCanvasNavigation.viewMode() === NavigationMode.SECTION) {
    <app-form-canvas-footer></app-form-canvas-footer>
  }
</div>
