@if (groupField().fieldGroup.length) {
  <div
    [id]="groupField().key"
    class="grid grid-rows-[min-content] gap-4 h-full relative"
    [ngClass]="{
      'grid-cols-2': cols() === 2,
      'grid-cols-3': cols() === 3,
    }"
    [nxtSortablejs]="fields()"
    [config]="sortableConfig()"
  >
    @for (field of groupField().fieldGroup; track field.id) {
      <form-canvas-field-layout
        [type]="field.type === FormType.Group ? 'GROUP' : 'FIELD'"
        [label]="field.type === FormType.Group ? field.props.label! : ''"
        (removeItem)="remove(field)"
        (cloneItem)="clone(field)"
      >
        @if (field.type === FormType.Group) {
          <form-canvas-fields [groupField]="field"></form-canvas-fields>
        } @else {
          <app-form-canvas-field [field]="field"></app-form-canvas-field>
        }
      </form-canvas-field-layout>
    }
  </div>
} @else {
  <app-form-canvas-empty-message
    [groupField]="groupField()"
    [sortableConfig]="sortableConfig()"
  ></app-form-canvas-empty-message>
}
