<ui-sidebar
  title="Components"
  subtitle="Gestiona elementos del formulario"
  [position]="AsidePosition.Left"
  [showSideBar]="showSideBar()"
>
  <div class="flex flex-col px-4 gap-4 h-full">
    <div class="border-b py-4 border-gray-300">
      <ui-search-input placeholder="Seach a component" [(search)]="searchText"></ui-search-input>
    </div>

    <ui-tabs [items]="items()" [value]="items()[0].value">
      <ui-tab [value]="0">
        <app-form-field-list [searchText]="searchText()"></app-form-field-list>
      </ui-tab>
      <ui-tab [value]="1"> dfghdfhfghfdhdf </ui-tab>
    </ui-tabs>
  </div>
</ui-sidebar>
