<div class="rating-container flex flex-wrap gap-2 mb-2 text-indigo-500">
  @for (ratingLevel of maxRatingLevels(); track $index) {
    <div
      class="text-base flex items-center justify-center w-10 h-10 rounded border hover:scale-110 transition-transform duration-100 cursor-pointer select-none"
      [ngClass]="{
        'border-indigo-500 text-indigo-500': !disabled(),
        'text-white font-bold bg-indigo-500 scale-100': value() === $index + 1,
        'pointer-events-none border-gray-300 text-gray-500': disabled(),
      }"
      (click)="setRating($index + 1)"
      (keydown.enter)="setRating($index + 1)"
      tabindex
    >
      {{ $index + 1 }}
    </div>
  }
</div>
