<div class="p-2 hover:bg-gray-100 cursor-grab relative group">
  <div
    class="flex items-center justify-between gap-2 w-full bg-white group-hover:bg-gray-100 z-10 relative"
  >
    <div class="flex items-center gap-2 overflow-hidden">
      @if (hasNodes()) {
        <button
          class="absolute -left-7 size-4 flex items-center justify-center bg-white scale-75 cursor-pointer border border-gray-300 z-10"
          (click)="expanded.set(!expanded())"
        >
          <ui-icon [name]="expanded() ? 'lucideMinus' : 'lucidePlus'" class="text-xs"></ui-icon>
        </button>
      }
      <div class="flex items-center justify-center min-h-4 min-w-4 bg-indigo-100">
        <ui-icon name="lucideType" class="text-indigo-500 text-xs"></ui-icon>
      </div>
      <div class="flex flex-col overflow-hidden">
        <span class="text-xs font-semibold overflow-hidden whitespace-nowrap text-ellipsis">{{
          item().label
        }}</span>
        <span class="text-xs text-gray-500 italic overflow-hidden whitespace-nowrap text-ellipsis"
          >Description for the field to field sdfgsdfg dg sdfgsdfgsdf</span
        >
      </div>
    </div>

    <div class="items-center gap-1 flex min-w-fit md:hidden md:group-hover:flex">
      <!--
        <span class="text-xs text-gray-500">{{ item().nodes?.length }}</span>
        <button class="cursor-pointer" (click)="expanded.set(!expanded())">
          <ui-icon
            [name]="expanded() ? 'lucideChevronUp' : 'lucideChevronDown'"
            class="text-sm"
          ></ui-icon>

        </button>-->
      <p-button size="small" [outlined]="true" [text]="true" severity="secondary">
        <ui-icon name="lucideCopy" class="text-sm"></ui-icon>
      </p-button>
      <p-button size="small" [outlined]="true" [text]="true" severity="danger">
        <ui-icon name="lucideTrash2" class="text-sm"></ui-icon>
      </p-button>
    </div>
  </div>

  <span class="absolute top-6/12 -left-3 block w-full h-[1px] bg-gray-300 z-0"></span>
</div>
