<article
  class="flex flex-col justify-between gap-2 border border-gray-300 hover:border-indigo-500 rounded px-2 py-4 md:p-4 md:pt-12 relative group"
>
  <div
    class="flex items-center justify-between w-full relative p-0 md:absolute md:top-0 md:left-0 md:px-4 md:py-2"
  >
    <span class="md:invisible md:group-hover:visible cursor-grab">
      <ui-icon name="lucideGripVertical"></ui-icon>
    </span>

    <ul class="flex gap-1 md:invisible md:group-hover:visible">
      @for (option of options(); track option.label) {
        <li>
          <p-button size="small" variant="text" [severity]="option.severity">
            <ui-icon [name]="option.icon"></ui-icon>
          </p-button>
        </li>
      }
    </ul>
  </div>

  <formly-form [fields]="[field()]"></formly-form>
</article>
