<article
  class="w-full h-full bg-white border border-gray-300 rounded p-2 md:p-4 md:pt-2 grid grid-rows-[auto_1fr] grid-cols-1 justify-between gap-2 relative cursor-pointer hover:border-primary-300 has-[article:hover]:border-gray-300 [&:hover>header>ul]:visible has-[article:hover]:[&:hover>header>ul]:invisible"
  [ngClass]="{
    'min-h-64 md:min-h-96': type() === 'GROUP_FIELD',
  }"
  (click)="clickItem.emit()"
  (keydown.enter)="clickItem.emit()"
  role="button"
  tabindex
>
  <header class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      @if (label()) {
        <ui-title [heading]="HeadingType.H5">{{ label() }}</ui-title>
      }
    </div>

    <ul class="flex gap-1 md:invisible">
      @for (option of options(); track option.id) {
        <li>
          <p-button
            size="small"
            variant="text"
            [severity]="option.severity"
            (onClick)="command($event, option)"
          >
            <ui-icon [name]="option.icon!"></ui-icon>
          </p-button>
        </li>
      }
    </ul>
  </header>

  <ng-content></ng-content>
</article>
