/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'tailwindcss-primeui';

body {
  overflow: hidden;
}

@utility device-preview {
  border-width: 8px;
  border-color: var(--color-gray-300);
  border-radius: 2.5rem;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: var(--shadow-md);
  position: relative;
}

@utility device-preview-desktop {
  width: 1024px;
  height: 720px;
}

@utility device-preview-tablet {
  width: 768px;
  height: 720px;
}

@utility device-preview-mobile {
  width: 360px;
  height: 720px;
}

@utility device-preview__notch {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: 4rem;
  height: 0.375rem;
  margin: 0 auto;
  background-color: var(--color-gray-400);
  border-radius: 9999px;
  z-index: 10;
}

.p-dialog.dialog-fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 0;
}

.p-dialog.dialog-fullscreen .p-dialog-content {
  height: calc(100vh - var(--dialog-header-height, 4rem));
  padding: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3px;
  width: 100%;
  background-color: var(--p-primary-500);
  position: relative;
}

.drag-placeholder::before {
  opacity: 1;
  content: 'Drag it here';
  position: absolute;
  background-color: var(--p-primary-500);
  color: var(--p-primary-contrast-color);
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  font-size: var(--text-xs);
  font-weight: var(--font-weight-bold);
}

[data-sorting-disabled='true'] {
  .drag-placeholder {
    position: absolute;
    visibility: hidden;
    height: 0;

    &::before {
      content: '';
      padding: 0;
    }
  }
}
