<div
  class="grid grid-cols-[11fr_1fr] items-center gap-4 p-2 border border-transparent hover:bg-primary-100 hover:border-primary-500 rounded cursor-grab select-none"
  cdkDrag
  (cdkDragStarted)="whileDragging.set(true)"
  (cdkDragEnded)="whileDragging.set(false)"
  [cdkDragData]="item().value"
>
  <div class="flex items-center gap-2">
    <div
      class="min-w-8 min-h-8 flex items-center justify-center bg-primary-100 text-primary-500 rounded"
    >
      <ui-icon [name]="item().icon"></ui-icon>
    </div>
    <div>
      <p class="text-sm font-semibold">{{ item().label }}</p>
      <small class="text-xs text-gray-500">{{ item().description }}</small>
    </div>
  </div>
  <ui-icon class="text-gray-500" name="lucideGripVertical"></ui-icon>
  <div class="drag-placeholder" *cdkDragPlaceholder></div>
</div>
@if (whileDragging()) {
  <form-element-item [item]="item()"></form-element-item>
}
